PORT=3000
SERVER_URL=your-render-service-url

NODE_ENV=development

# MongoDB Configuration
# DB_TYPE=LOCAL
LOCAL_DB_URI=mongodb://localhost:27017/automation-db-api
MONGO_DB_URI=mongodb+srv://Automation-Admin:<db_password>@automatoin-db-api-clust.mlpxqsv.mongodb.net/Automation-db-API-Database?retryWrites=true&w=majority&appName=Automatoin-db-API-Cluster
MONGO_DB_URI_PASSWORD=your-db-password

# API Configuration
API_PREFIX=/api/v1

# Logging Configuration
LOG_LEVEL=debug